* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAE5B0;
    overflow: hidden;
}

.contenedor {
    display: flex;
    height: 100vh;
}

/* LEFT SIDEBAR */
.sidebar-izquierda {
    width: 260px;
    background-color: #FFD54F;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.banner {
    background: #1E3A8A;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    border: 6px solid #E11D48;
}

.oponentes h2 {
    background: #1E3A8A;
    color: white;
    border: 6px solid #E11D48;
    padding: 8px 0;
    border-radius: 10px;
}

.oponentes-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.mini-tablero {
    background: #FBE6A2;
    width: 78px;
    height: 78px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 6px;
    border: 2px solid white;
}

.mini-frijol {
    width: 18px;
    height: 18px;
    background-image: url("imagenes/frijol.png");
    background-size: cover;
}

/* TABLERO */
.tablero {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartas {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-gap: 16px;
}

.carta {
    width: 140px;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
    border: 3px solid white;
    position: relative;
}

.carta img {
    width: 100%;
    height: 100%;
}

/* MARCADA */
.carta.marcada::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    top: 50%;
    left: 50%;
    background-image: url("imagenes/frijol.png");
    background-size: cover;
    transform: translate(-50%, -50%);
}

/* RIGHT PANEL */
.panel-derecho {
    width: 260px;
    background: #E14B1C;
    color: white;
    padding: 20px;
    text-align: center;
}

.carta-actual {
    width: 160px;
    height: 210px;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    border: 5px solid white;
}

#frijol {
    position: absolute;
    top: 18px;
    left: 18px;
    width: 52px;
    height: 52px;
}

























